[Unit]
Description=Contestant home folder backup service

[Service]
User=ansible
ExecStart=/bin/bash /home/ansible/backup.sh
ExecStop=/bin/bash /home/ansible/clear-zip.sh
StandardOutput=journal
