[Unit]
Description=Contestant home folder backup timer

[Timer]
OnUnitActiveSec=5m
OnBootSec=10s
Unit=backup.service

[Install]
WantedBy=timers.target
